{% extends 'base.html.twig' %} {% block title %}CV{% endblock %} {% block body
%}
<h1>Administrateur réseaux</h1>
<pre style="text-align: center">Pour télécharger le PDF du CV, il faut remplir les informations dans le <a href="{{ path('formulaire') }}">formulaire</a></pre>
<div class="row">
  <div class="card" style="width: 18rem">
    <img class="card-img-top" src="competences.jpg" alt="Compétences" />
    <div class="card-body">
      <p class="card-title">
        <strong><u>Compétences</u></strong>
      </p>
      <p class="card-text">
        <li>
          Maitrîse de moi-même
        </li>
        <li>
          Création de site web
        </li>
        <li>
          Apprentissage rapide
        </li>
        <li>
          Communication
        </li>
        <li>
          Programmation (C, python, html, css)
        </li>
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img class="card-img-top" src="formation.jpg" alt="Formations" />
    <div class="card-body">
      <p class="card-title">
        <strong><u>Formation</u></strong>
      </p>
      <p class="card-text">
        <li>
          B.U.T Réseaux et Télécommunications (2023-aujourd'hui)
        </li>
        <li>
          BAC général (2023)
        </li>
        <li>
          Formation première secours (2018)
        </li>
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img class="card-img-top" src="exp_pro.jpg" alt="Expériences professionelles" />
    <div class="card-body">
      <p class="card-title">
        <strong><u>Expériences professionelles</u></strong>
      </p>
      <p class="card-text">
        <li>
            Arbitre de basketball (2017-aujourd'hui)
        </li>
        <li>
          Caviste (été 2023)
        </li>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="card" style="width: 18rem">
    <img class="card-img-top" src="savoir_etre.jpg" alt="Savoir être" />
    <div class="card-body">
      <p class="card-title">
        <strong><u>Savoir êtres</u></strong>
      </p>
      <p class="card-text">
        <li>
          Sérieux
        </li>
        <li>
          Adaptabilité
        </li>
        <li>
          Gestion du stress
        </li>
        <li>
          Autonomie
        </li>
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img class="card-img-top" src="loisirs.jpg" alt="Intérêts et loisirs" />
    <div class="card-body">
      <p class="card-title">
        <strong><u>Intérêts et loisirs</u></strong>
      </p>
      <p class="card-text">
        <li>
          Basket-ball
        </li>
        <li>
          Jeux vidéos
        </li>
        <li>
          Programmation
        </li>
        <li>
          Musique
        </li>
      </p>
    </div>
  </div>
</div>
{% endblock %}
