{% extends 'base.html.twig' %} {% block title %}Accueil{% endblock %} {% block
body %}
    <h3 class='presentation'>Bonjour, je suis Maxence André, un étudiant en Réseaux et Télécommunication en première année.</h3> 
    <h4 class="presentation">Ce site est présent pour pouvoir me présenter sur internet</h4>
    <h5 class="presentation">Vous pouvez me contacter via le formulaire de contact ou via les informations suivantes :</h5>
    <h2 class="presentation"><strong>Contacts :</strong></h2>
    <ul class="presentation">
        <pre>Mail : amaxence.1402@gmail.com</pre>
        <pre>Téléphone : 07 66 03 41 33</pre>
    </ul>
{% endblock %}
