{% extends 'base.html.twig' %} {% block title %}Plus{%
endblock %} {% block body %}
<h1>Plus sur moi</h1>
<strong><u><h2>Mes passions :</h2></u></strong>
<div class="row">
    <div class="card more-card col-4">
        <img class="card-img" src="basketball.jpg" alt="Basketball">
        <p>
            Basketball
        </p>
    </div>
    <div class="card more-card col-4">
        <img class="card-img" src="volley.jpg" alt="Volleyball">
        <p>
            Volleyball
        </p>
    </div>
    <div class="card more-card col-4">
        <img class="card-img" src="musique.jpg" alt="musique">
        <p>
            Musique
        </p>
    </div>
</div>

<strong><u><h2>Mes intérêts :</h2></u></strong>
<div class="row">
    <div class="card more-card col-4">
        <img class="card-img" src="programmation.jpg" alt="programmation">
        <p>
            Programmation
        </p>
    </div>
    <div class="card more-card col-4">
        <img class="card-img" src="dev_web.jpg" alt="developpement web">
        <p>
            Développement web
        </p>
    </div>
</div>
{% endblock %}
